<h1>Stream Manipulation methods Part 4</h1>

<h4 *ngIf="showPluck">The Pluck Method</h4>
<p *ngIf="showPluck">
  {{pluckResult}}
</p>

<h4 *ngIf="showReduce">The Reduce Method</h4>
<p *ngIf="showReduce">
  {{reduceResult}}
</p>

<h4 *ngIf="showRepeat">The Repeat Method</h4>
<p *ngIf="showRepeat">
  {{repeatResult}}
</p>

<h4 *ngIf="showRepeatWhen">The RepeatWhen Method</h4>
<p *ngIf="showRepeatWhen">
  {{repeatWhenResult}}
</p>

<h4 *ngIf="showRetry">The Retry Method</h4>
<p *ngIf="showRetry">
  {{retryResult}}
</p>

<h4 *ngIf="showRetryWhen">The RetryWhen Method</h4>
<p *ngIf="showRetryWhen">
  {{retryWhenResult}}
</p>

<h4 *ngIf="showSample">The Sample Method</h4>
<p *ngIf="showSample">
  {{sampleResult}}
</p>

<h4 *ngIf="showScan">The Scan Method</h4>
<p *ngIf="showScan">
  {{scanResult}}
</p>

<h4 *ngIf="showSequenceEqual">The SequenceEqual Method</h4>
<p *ngIf="showSequenceEqual">
  {{sequenceEqualResult}}
</p>

<h4 *ngIf="showSingleOne">The Single Method - Without a predicate</h4>
<p *ngIf="showSingleOne">
  {{singleOneResult}}
</p>

<h4 *ngIf="showSingleTwo">The Single Method - With a predicate</h4>
<p *ngIf="showSingleTwo">
  {{singleTwoResult}}
</p>

<h4 *ngIf="showSkip">The Skip Method</h4>
<p *ngIf="showSkip">
  {{skipResult}}
</p>

<h4 *ngIf="showStartWith">The StartWith Method</h4>
<p *ngIf="showStartWith">
  {{startWithResult}}
</p>

<h4 *ngIf="showTake">The Take Method</h4>
<p *ngIf="showTake">
  {{takeResult}}
</p>

<h4 *ngIf="showThrottle">The Throttle Method</h4>
<p *ngIf="showThrottle">
  {{throttleResult}}
</p>

<h4 *ngIf="showToPromise">The ToPromise Method</h4>
<p *ngIf="showToPromise">
  {{toPromiseResult}}
</p>

<h4 *ngIf="showWindow">The Window Method</h4>
<p *ngIf="showWindow">
  {{windowResult}}
</p>